[Desktop Entry]
Encoding=UTF-8
Name=ATEC
Comment=ATEC P2P Cryptocurrency
Comment[fr]=ATEC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ATEC, eşten eşe kriptografik sanal para birimi
Exec=atec-qt %u
Terminal=false
Type=Application
Icon=atec128
MimeType=x-scheme-handler/atec;
Categories=Office;Finance;
